gdown>=4.7.0

fastapi==0.95.2
uvicorn==0.22.0

sqlalchemy==1.4.49
pydantic==1.10.13

python-multipart

opencv-python
numpy==1.24.3
scipy==1.10.1
h5py

tensorflow==2.13.0
protobuf==3.20.3
typing-extensions==4.5.0

requests
